<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="database.properties" />
	
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<!-- 设置resultMap的自动映射级别 
			NONE（禁止自动匹配，无法自动匹配JavaBean属性）
			PARTIAL(默认:局部)
			FULL(全部映射，除了匹配resultMap属性还有JavaBean的全部属性)
		-->
		<!-- <setting name="autoMappingBehavior" value="NONE"/> -->
		<!-- <setting name="autoMappingBehavior" value="PARTIAL"/> -->
		<!-- <setting name="autoMappingBehavior" value="FULL"/> -->
	</settings>
	
	<typeAliases>
		<!-- <typeAlias alias="User" type="com.lsl.ssm.pojo.User"/> -->
		<package name="com.lsl.ssm.pojo"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/lsl/ssm/dao/user/UserMapper.xml"/>
	</mappers>
</configuration>